body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #A3B18A; /* Um fundo esverdeado da sua imagem */
    color: #344E41;
}

.container {
    background-color: #588157; /* Um verde mais escuro para o container */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    max-width: 90%;
}

.logo {
    width: 100px; /* Ajuste conforme necessário */
    margin-bottom: 20px;
}

.bem-estar-text {
    width: 200px; /* Ajuste conforme necessário */
    margin-bottom: 30px;
}

h1 {
    color: #DAD7CD;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #DAD7CD;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #4F772D;
    border-radius: 5px;
    background-color: #DAD7CD;
    color: #344E41;
}

.login-button, .logout-button {
    background-color: #3A5A40; /* Um verde escuro para os botões */
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.login-button:hover, .logout-button:hover {
    background-color: #2F4D32;
}

.dashboard-container {
    padding: 50px;
}

.dashboard-container p {
    color: #DAD7CD;
    font-size: 1.1em;
}
